.app{
    text-align: center;
}
.app h1{
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: rgba(35, 111, 182, 0.678);
    padding: 10px;
}
h2{
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size:22px;
    text-shadow: 4px 1px 3px rgba(150, 150, 150, 1);
}
@media screen and (max-width:620px){
    h2{
        font-size: 18px;
    }
}