.app{
    text-align: center;
}

h2{
    color: white;
    letter-spacing: 1px;
    text-align: left;
    font-size:22px;
    text-shadow: 4px 1px 3px rgba(150, 150, 150, 1);
}
.app-title{
    position: fixed;
    z-index: 1000;
    width: 100%;
    text-align: center;
    background-color: #4AA1F6;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px;
}
.audios-section{
    padding-top: 80px;
}
.btn-group{
    padding-bottom: 70px;
}
.btn{
    padding:10px 20px;
    color: white;
    background-color: gray;
    border: none;
    border-radius: 10px;
    margin: 10px;
}
.btn:disabled{
    opacity: 0.65; 
    cursor: not-allowed;
}
@media screen and (max-width:620px){
    h1 {
        font-size: 20px;
    }
    h2{
        font-size: 18px;
    }
}
