.app-title{
    position: fixed;
    z-index: 1000;
    width: 100%;
    text-align: center;
    background-color: #4AA1F6;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px;
}
.audios-section{
    padding-top: 80px;
}
.btn-group{
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
}
.btn{
    padding:10px 20px;
    color: white;
    background-color: gray;
    border: none;
    border-radius: 10px;
    margin: 10px;
}
.btn:disabled{
    opacity: 0.65; 
    cursor: not-allowed;
}
@media screen and (max-width:620px){
    h1 {
        font-size: 20px;
    }
}
