.audio{
  width: 80%;
  margin: 5px auto;
}
.audio__container{
  background-color: rgba(0,0,0,0.3);
  height: 80px;
  border-radius: 20px;
  display:flex;
}
.audio__progress {
  height: 80px;
  background-color: rgba(245, 241, 241, 0.5);
  transition: width .1s linear;
  border-radius: 20px;
}
/*Play/Pause Button*/
.downloadButton{
  background: white;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  position: absolute;
  right: 9%;
  border: none;
  font-size: 25px;
  color: #4AA1F6;
}
.downloadButton:hover{
  transform: scale(1.05);
}
.downloadButton a{
  color: #4AA1F6;
}
.togglePlay {
  font:0/0 a;
  background: white;
  color:transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 0;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 150ms ease-out;
  position: absolute;
  border: none;
} 
.togglePlay::after {
  box-sizing: border-box;
  display: block;
  content: '';
  width: 0;
  height: 0;
  margin-left: 8px;
  border-color: transparent;
  border-style: solid;
  border-top-width: 16px;
  border-bottom-width: 16px;
  border-left-width: 19px;
  border-left-color: black;
}
  
.togglePlay:hover {
  transform: scale(1.05);
}
.togglePlay.active::after {
    width: 21px;
    height: 26px;
    margin-left: 0;
    border-width:0 7px;
    border-color: black;
}
button.togglePlay{
  outline: none;
}

@media screen and (max-width:576px){
  .audio{
    width: 90%;
  }
  .downloadButton{
    right: 3%;
  }
}